body {
    background-color: #5e7151;
    color: #fdffff;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
  }
  button {
    padding: 5px 20px;
    background-color: #337ab7;
    color: #fdffff;
    border-color: #2e6da4;
    border-style: none;
  }
  input {
    height: 20px;
  }

.img-cat{
  display:block;
  width: 100%;
  height:auto;
  margin: 1rem auto 0;
  border-radius: 0.5rem;
}